.grid-container {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    justify-content: center;
    justify-content: center;
}
.grid-item {
    padding: 20px;

}

.form-message {
    color: red;
}

input:hover {
    border-color: red;
}

.form-input:hover {
    border-color: red;
}