@media screen (max-width: 3750x){
    .container {
        width: 25%;
        float: left;
    }
}
.page-style {
    background-image: url(https://eneax.github.io/learn-css-grid/assets/images/topography.svg), 
    linear-gradient(110deg, #f93d66, #6d47d9);
    /* background-size: 340px, auto; */
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container {
    display: grid;
    grid-column: auto auto;
    grid-template-columns: 200px 400px;
    grid-template-rows: 50px 100px;
    grid-gap: 20px;
    grid-auto-rows: 200px;
}
.items {
    display: grid;
    background-color: #ffc600;
    border-radius: 3px;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    border: 5px solid rgba(0, 0, 0, 0.03) ;
    font-size: 30px;
}